---
import {
	page,
	h1,
	changelogs,
	changelog,
	date,
	summary,
	changes,
	from,
	icon,
	to,
	details,
	no_reason,
	overview,
} from './index.css.ts';

import { api } from 'src/api.ts';
import { ChangelogOverview } from 'src/components/changelog/overview.tsx';
import IndexLayout from 'src/layouts/index.astro';
import { mono } from 'src/styles/atomic/typography.css.ts';
import { getChangelogIcon } from 'src/util/changelog.ts';

const res = await api.changelog.$get();
const cls = await res.json();

const dict = new Map([
	['add', 'Added'],
	['move', 'Moved'],
	['archive', 'Archived'],
] as const);
---

<IndexLayout>
	<div class={page}>
		<h1 class={h1}>Changelog</h1>
		<ol class={changelogs}>
			{
				cls.map((cl) => (
					<li class={changelog}>
						<div class={date}>
							<p class={mono}>{new Date(cl.timestamp).toLocaleDateString()}</p>
						</div>
						<div class={summary}>
							<p>
								{dict.get(cl.action)} <a href={`/level/${cl.level.id}`}>{cl.level.name}</a>
							</p>
						</div>
						<div class={changes}>
							{cl.action === 'move' && <p class:list={[from, mono]}>#{cl.from}</p>}
							<div class={icon}>
								<img src={getChangelogIcon(cl)} alt="change" />
							</div>
							<p class:list={[to, mono]}>#{cl.action === 'archive' ? cl.from : cl.to}</p>
						</div>
						{(cl.reason || cl.action !== 'add') && (
							<div class={details}>
								{cl.reason ? (
									<p>
										<span>Reason: </span>
										<span>{cl.reason}</span>
									</p>
								) : (
									<p class={no_reason}>No Reason specified</p>
								)}
							</div>
						)}
						<div class={overview}>{<ChangelogOverview changelog={cl} />}</div>
					</li>
				))
			}
		</ol>
	</div>
</IndexLayout>
