---
import BaseLayout from './base.astro';
import {
	container,
	nav,
	nav_logo,
	nav_links,
	nav_links_a,
	nav_menu,
	nav_location,
	nav_search,
	nav_user,
	slot,
} from './index.css.ts';

import img_icon_menu from 'src/assets/icons/menu.svg';
import img_icon_search from 'src/assets/icons/search.svg';
import img_icon_user from 'src/assets/icons/user.svg';
import img_logo from 'src/assets/logo.svg';
import { screens } from 'src/styles/atomic/screens.css.ts';
import { title_medium } from 'src/styles/atomic/typography.css.ts';
import { ariaCurrent } from 'src/util/aria_current.ts';

type Props = {
	className?: string;
};

const { className } = Astro.props;
---

<BaseLayout className={container}>
	<nav class={nav}>
		{/* Menu */}
		<a class:list={[nav_menu, screens.lt_lg]} href="/menu">
			<img src={img_icon_menu} alt="Menu" width={24} height={24} />
		</a>
		{/* Location */}
		<div class:list={[nav_location, screens.lt_lg]}>
			<p class={title_medium}>List</p>
		</div>
		{/* Logo */}
		<img class:list={[nav_logo, screens.lg]} src={img_logo} alt="Logo" />
		{/* Pages */}
		<ul class:list={[nav_links, screens.lg]}>
			<li>
				<a
					class:list={[nav_links_a, title_medium]}
					href="/"
					aria-current={ariaCurrent(Astro, new RegExp('^/$'))}
				>
					Home
				</a>
			</li>
			<li>
				<a
					class:list={[nav_links_a, title_medium]}
					href="/list"
					aria-current={ariaCurrent(Astro, new RegExp('^/list($|/)'))}
				>
					List
				</a>
			</li>
			<li>
				<a
					class:list={[nav_links_a, title_medium]}
					href="/leaderboard"
					aria-current={ariaCurrent(Astro, new RegExp('^/leaderboard($|/)'))}
				>
					Leaderboard
				</a>
			</li>
			<li>
				<a
					class:list={[nav_links_a, title_medium]}
					href="/more"
					aria-current={ariaCurrent(Astro, new RegExp('^/more($|/)'))}
				>
					More
				</a>
			</li>
		</ul>
		{/* Search */}
		<a class={nav_search} class="search" href="/search">
			<img src={img_icon_search} alt="Search" width={24} height={24} />
		</a>
		{/* User */}
		<a class={nav_user} class="user" href="/profile">
			<img src={img_icon_user} alt="User" width={24} height={24} />
		</a>
	</nav>
	<div class:list={[slot, className]}>
		<slot />
	</div>
</BaseLayout>
