---
import iconLogout from 'src/assets/icons/logout.svg';

import { action, actions, categories, category, container, sidebar } from './index.css.ts';

import BaseLayout from 'src/layouts/base.astro';
import { label_large } from 'src/styles/atomic/typography.css.ts';
import { ariaCurrent } from 'src/util/aria_current.ts';

type Props = {
	className?: string;
};

const { className } = Astro.props;
---

<BaseLayout className={container}>
	<nav class={sidebar}>
		<ul class={categories}>
			<li>
				<a
					href="/admin/records"
					class:list={[category, label_large]}
					aria-current={ariaCurrent(Astro, new RegExp('^/admin/records($|/)'))}
				>
					Records
				</a>
			</li>
			<li>
				<a
					href="/admin/list"
					class:list={[category, label_large]}
					aria-current={ariaCurrent(Astro, new RegExp('^/admin/list($|/)'))}
				>
					List
				</a>
			</li>
			<li>
				<a
					href="/admin/levels"
					class:list={[category, label_large]}
					aria-current={ariaCurrent(Astro, new RegExp('^/admin/levels($|/)'))}
				>
					Levels
				</a>
			</li>
			<li>
				<a
					href="/admin/users"
					class:list={[category, label_large]}
					aria-current={ariaCurrent(Astro, new RegExp('^/admin/users($|/)'))}
				>
					User
				</a>
			</li>
		</ul>
		<ul class={actions}>
			<li>
				<button class:list={[action, label_large]}>
					<img src={iconLogout} alt="Logout" />
				</button>
			</li>
		</ul>
	</nav>
	<div class={className}>
		<slot />
	</div>
</BaseLayout>
